.checkAvailibility {
  color: #000000;
  .CA-heading {
    width: 90%;
  }
  .CA-form {
    width: 90%;
    .CAFormElements {
      .checkinCheckOutWrapper {
        position: relative;
        .calendar-icon {
          position: absolute;
          right: -157px;
          top: 3px;
        }
        .calendar-container {
          position: absolute;
          top: 40px;
          left: 0px;
          z-index: 100;
        }
      }
      .checkAvailibilityDetails {
        .form-select {
          width: 100%;
        }
      }
      .searchBtn {
        .book-a-room {
          background-color: #392467;
          color: #ffffff;
          &:hover {
            background-color: #5d3587;
          }
        }
      }
    }
  }
}
.form-control,
.input-group-text,
.form-select {
  border: 1px solid grey !important;
}

.react-calendar {
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px !important;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar__navigation button {
  color: #5D3587;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  text-decoration: none;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa !important;
  color: #5D3587 !important;
  border-radius: 6px;
}
.react-calendar__tile--now {
  border-radius: 6px;
  font-weight: bold;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  border-radius: 6px;
  font-weight: bold;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.react-calendar__tile--active {
  background: #5D3587 !important;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #5D3587 !important;
  color: white !important;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}
.react-calendar__tile--range {
  background: #f8f8fa;
  color: #5D3587;
  border-radius: 0;
}
.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #5D3587;
  color: white;
}
.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #5D3587;
  color: white;
}
