.HotelCard {
  cursor: pointer;
  border-radius: 15px !important;
  img {
    height: 40%;
    border-radius: 15px 15px 0px 0px;
  }
  .card-body {
    p {
      padding: 0px;
      margin: 0px;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .discount {
      background-color: #392467;
      width: fit-content;
      border-radius: 15px;
      padding: 5px 10px;
      color: #ffffff;
    }
  }
}
